# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl.backup

# Sensitive values
*.tfvars.secret
.env
.env.*

# Editors / OS
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store
